@using Microsoft.AspNet.Identity
<div class="ml-auto">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="navbar-nav ml-auto justify-content-between">
                <li class="nav-item">
                    @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })
                </li>
                <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="navbar-nav ">
            <li class="nav-item">@Html.ActionLink("Registre-se", "Register", "Account", routeValues: null, htmlAttributes: new { @role = "button", @class = "btn btn-outline-info", id = "registerLink" })</li>
            <li class="nav-item">@Html.ActionLink("Acessar", "Login", "Account", routeValues: null, htmlAttributes: new { @role = "button", @class = "btn btn-outline-secondary ml-2", id = "loginLink" })</li>
        </ul>
    }
</div>
